*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: grey;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    /* border: 1px solid black; */
    height: 23rem;
    width: 20rem;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    background: linear-gradient(45deg, rgb(71, 71, 255), rgb(255, 92, 92));
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.buttons button{
    width: 100%;
    height: 2.8rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.buttons button:nth-child(1){
    background: blue;
    color: white;
}
.buttons button:nth-child(2){
    background: rgb(218, 4, 218);
    color: white;
}
.buttons button:nth-child(1):active{
    background: rgb(84, 54, 252);
}
.buttons button:nth-child(2):active{
    background: rgb(91, 3, 150);
}

/* .input{
    border: 1px solid black;
} */
input{
    width: 100%;
    margin-bottom: 0.5rem;
    height: 2.8rem;
    border-radius: 7px;
    border: none;
    padding-left: 1rem;
    font-size: 17px;
    outline: none;
}
input[type=checkbox]{
    height: 20px;
    display: inline-block;
    /* border: 1px solid black; */
    width: 20px;
    margin-right: 1rem;
}
.member{
    display: flex;
}
label{
    /* border: 1px solid black; */
    display: flex;
    width: 6rem;
}
a{
    /* border: 1px solid black; */
    text-decoration: none;
    color: white;
}
button{
    width: 100%;
    height: 2.8rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background: pink;
}
.btn button:active{
    background: rgb(252, 147, 164);
}
.non-member{
    margin: 0.5rem;
    display: flex;

}
.non-member p{
    color: black;
    margin-right: 0.5rem;
}